body {
  font-family: "Poppins", sans-serif;
  margin: 2px;
}
h1 {
  font-size: 70px;
}
#quotes {
  font-family: "Pacifico", cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(235, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 60px;
}
h3 {
  font-weight: 900;
  font-family: "Otomanopee One", sans-serif;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 75%;
}
.first {
  padding-left: 40px;
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.second {
  padding-left: 40px;
  background-image: url(images/pinky.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.flexible {
  display: flex;
  margin-bottom: 50px;
}
.button {
  display: ruby-text;
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(to right, orange, rgb(255, 26, 26));
  padding: 10px;
  border-radius: 15px;
  color: azure;
}
#headingcolour {
  color: orange;
}
.container {
  position: relative;
  text-align: center;
  color: aliceblue;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
#secondbutton {
  background-image: linear-gradient(to right, black, rgb(83, 82, 82), white);
  border: 3px solid black;
}
.recipies {
  text-align: center;
  margin-bottom: 40px;
}
#meat {
  margin-left: 300px;
  padding: 40px;
  border-radius: 20px;
}
#chocolate {
  margin-right: 250px;
  padding: 40px;
  border-radius: 20px;
}
#soup {
  margin-left: 40px;
  margin-right: 40px;
  padding: 40px;
  border-radius: 20px;
}
.food {
  box-shadow: 10px 20px 20px rgb(100, 100, 100);
  border-radius: 10px;
  border: 5px solid rgb(173, 171, 171);
}
.subscriber {
  display: flex;
  gap: 300px;
  padding-left: 100px;
  padding-bottom: 40px;
  margin-left: 300px;
  margin-right: 200px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 10px 10px rgb(189, 189, 189);
  border-radius: 20px;
}
.lastsection {
  background-color: rgb(5, 1, 44);
  color: rgb(187, 191, 195);
  text-align: center;
}
#color {
  color: aquamarine;
}
.subscribebox {
  background-image: url(images/eat\ .jpg);
  margin-left: 10px;
  margin-right: 10px;
  outline: 2px solid black;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  outline-width: medium;
  text-align: center;
}
.subscribebox h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 0px;
}
.subscribebox h4 {
  text-transform: capitalize;
}
.subscribebox input {
  width: 30%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.subscribebox button {
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
  background-color: #fbec0e;
  background-image: linear-gradient(
    to right,
    rgb(110, 71, 71),
    rgb(148, 147, 147)
  );
}
.subscribebox button:hover {
  background: rgb(0, 8, 12);
}
